@import url(./reset.css);
:root {
    --white-color: #fff;
    --white-second-color: #F9F5F2;
    --accent-color: #F46752;
    --main-font-color: #1D253C;
    --primary-font-color: #5A6482;
}

header,
section,
footer {
    padding: 0 calc(50% - 800px);
}


/* font-family: 'Roboto',
sans-serif; */

* {
    font-family: 'Work Sans', sans-serif;
    color: var(--main-font-color);
}

h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    text-transform: capitalize;
}

h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 52px;
}

.preTitle {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-transform: uppercase;
}

.text-medium {
    color: var(--primary-font-color);
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}

.text-large {
    color: var(--primary-font-color);
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

.getMyPrice-button {
    display: flex;
    column-gap: 8px;
    border-radius: 4px;
    border: 1px solid rgba(29, 37, 60, 0.20);
    background: var(--accent-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-transform: uppercase;
    padding: 21px 29px;
    transition: 0.3s;
}

.getMyPrice-button:hover {
    background-color: #c9513e;
}

.getMyPrice-button::after {
    content: url(../img/icons/whiteRightArrow.svg);
}

button:active {
    position: relative;
    bottom: -2px;
}

a:hover {
    color: #007188;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    transition: 0.4s;
    position: relative;
}

a::after {
    content: '';
    transition: 0.4s;
}

a:hover::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #007188;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
}

.header__content {
    display: flex;
}

.header__content-img {
    margin-right: 35px;
}

.header__content-list {
    display: flex;
    align-items: center;
}

.header__content-list li:nth-child(2) {
    margin: 0 35px 0 26px;
}

.header--button__wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header--button__wrapper-login {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    padding: 10px 29px;
}

.header--button__wrapper-login:hover {
    transition: 0.6s;
    background-color: var(--primary-font-color);
    color: var(--white-color);
}

.header--button__wrapper-getMyPrice {
    border-radius: 4px;
    border: 1px solid rgba(29, 37, 60, 0.20);
    padding: 13px 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-transform: uppercase;
}

.header--button__wrapper-getMyPrice:hover {
    transition: 0.6s;
    color: var(--white-color);
    background-color: var(--main-font-color);
}

.greeting {
    position: relative;
}

.greeting::after {
    content: url('../img/greetingImg.png');
    position: absolute;
    right: 0;
    top: 17px;
}

.greeting-wrapper {
    padding: 223px 0 0 50px;
    max-width: 510px;
}

.greeting-preTitle {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
}

.greeting-title {
    margin: 2px 0 26px;
}

.greeting .getMyPrice-button {
    margin-top: 40px;
}